<div class="reportSection tableContainer">
  <h4>Overlap With Commercial Fisheries <a href="#" data-toggle-node="51f308a208dc4f5f2d015757" data-visible="false">show layers</a></h4>
  <table  data-paging="10" data-no-rows="Does not overlap any commercial fisheries." >
    <thead>
      <tr>
        <th>Commercial Fishery</th>
        <th>Data Available for Years</th>
      </tr>
    </thead>
    <tbody>
      {{#fisheries}}
      <tr>
        <td>{{FISH_NAME}}</td>
        <td>{{START_YR}} - {{END_YR}}</td>
      </tr>
      {{/fisheries}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          Existing marine activities should be considered when identifying areas for protection or special management.  This report summarizes the commercial fisheries which occur within the boundaries of the zone/collection based on the most recent available spatial data.  The spatial data is in the form of multi-year amalgamated 4km x 4km or 10km x 10km catch/effort grid data or, in the case of the salmon fishery, salmon catch estimate areas. The years which are represented by the data are noted following the name of the commercial fishery. NOTE: Not all catch and effort is represented by the spatial data.  Due to confidentiality restrictions a minimum of three vessels must be reporting within a given grid cell for it to be included.
        </td>
      </tr>
    </tfoot>
  </table>
</div>