<div class="reportSection">
  <h4>Size</h4>
  <p class="large">
    This regional proposal contains {{numChildren}} zones and covers a total of <strong>{{size}} square kilometers</strong>, which represents <strong>{{percent}}%</strong> of the {{sc_name}}.
  </p>
  <div class="tocContainer"></div>
</div>
<div class="reportSection">
  <h4>Coastline Length</h4>
  <p class="large">
    This collection includes <strong>{{coastlineTotal}} kilometers</strong> of coastline.
  </p>
</div>

<div class="reportSection tableContainer">
  <h4>Average Depth</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th style="width:260px;">Name </th>
        <th>Average Depth Below Sea Level (in meters)</th>
      </tr>
    </thead>
    <tbody>
      {{#avgDepth}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{AVG_DEPTH}}</td>
      </tr>
      {{/avgDepth}}
    </tbody>
  </table>
</div>
<!-- {{#adjacentProtectedArea}}
<div class="reportSection">
  <h4>Nearby Areas</h4>
  <p class="large green-check">
    Zones within this proposal are adjacent to a <strong>Terrestrial Protected Area</strong>.
  </p>
  <p>
    Build on past and existing zoning efforts that are consistent with an ecosystem-based management approach.  Wherever possible, do not duplicate existing zoning efforts and consider existing terrestrial zoning for adjacent marine zoning to achieve zoning objectives.
  </p>
</div>
{{/adjacentProtectedArea}}
 -->
<!-- <div class="reportSection">
  <h4>Transmission Lines <a href="#" data-toggle-node="51f6ad677bbb9b2457020f52" data-visible="false">show layer</a></h4>
  <p class="large">
    This zone is {{transmissionLines}} km from the nearest transmission lines.
  </p>
</div>
 -->
{{#attributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}} Attributes</h4>
    {{>attributes/attributesTable}}
  </table>
</div>
{{/attributes}}
