<div class="reportSection tableContainer">
  <h4>Habitat: Overlap with Biogenic/Community Forming Species</h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th >Habitat</th>
        <th>Overlap (km²)</th>
        <th>Overlap (%)<sup>*</sup></th>
      </tr>
    </thead>
    <tbody>
      {{#habitats}}
      <tr>
        <td>{{HAB_NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td></tr>
      {{/habitats}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="paragraph">
          {{#hasPMZs}}
            <p>
            In Protection Management Zones, representation is often one criteria for siting in a network.  This report calculates the representation of a number of biogenic habitats and community forming species including kelp (various types), eelgrass, sponge reefs and corals within the boundaries of the PMZ.
            </p>
          {{/hasPMZs}}
          {{#hasSMZs}}
            <p>
            The potential impact of activities on marine habitats is an important consideration when identifying locations for Special Management Zones.  This report calculates the overlap of the proposed SMZ(s) with a number of biogenic habitats and community forming species including kelp (various types), eelgrass, sponge reefs and corals.
            </p>
          {{/hasSMZs}}
          <p>* = Overlap (%) calculates the proportion of the sub-regional total of the habitat types that fall within the boundary of this collection</p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="reportSection tableContainer">
  <h4>Habitat: Overlap with Important Areas, IBAs & Critical Habitat</h4>
  {{#hasImportantAreas}}
    <table>
      <thead>
        <tr>
          <th width="250px"><strong>Important Area</strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#importantAreas}}
        <tr>
          <td>{{NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/importantAreas}}
      </tbody>
    </table>
  {{/hasImportantAreas}}
  
  {{#hasMarineBirds}}
    </br>
    <table>
      <thead>
        <tr>
          <th width="250px"><strong>Important Bird Area (IBA) <strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#marineBirds}}
        <tr>
          <td>{{NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/marineBirds}}
      </tbody>
    </table>
  {{/hasMarineBirds}}
  {{#hasCriticalHabitat}}
    </br>
    <table>
      <thead>
        <tr>
          <th width="250px"><strong>Critical Habitat </strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#criticalHabitat}}
        <tr>
          <td>{{NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/criticalHabitat}}
      </tbody>
    </table>
  {{/hasCriticalHabitat}}

  {{#hasEBSAs}}
    </br>
    <table>
      <thead>
        <tr>
          <th width="250px"><strong>Economically and Biologically Significant Areas </strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#ebsas}}
        <tr>
          <td>{{NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/ebsas}}
      </tbody>
    </table>
  {{/hasEBSAs}}
  {{#hasBiobands}}
    </br>
    <table>
      <thead>
        <tr>
          <th width="250px"><strong>Giant Kelp, Bull Kelp, Eelgrass</strong></th>
          <th>Overlap (km)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#biobands}}
        <tr>
          <td>{{NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/biobands}}
      </tbody>
    </table>
  {{/hasBiobands}}

  <p>
    {{#hasPMZs}}
      <p>
        To reduce potential conflicts between human uses and marine species, consider these identified important areas for marine mammals, fish and marine birds.  Note that these areas do not include all of the foraging and breeding locations for marine species in the MaPP study area. 
      </p>
      <p>
        Important Areas were identified during the process of establishing Ecologically and Biologically Significant Areas (EBSAs) by the <a href="http://pncima.org/site/atlas.html" target="_blank"> Pacific North Coast Integrated Management Area (PNCIMA)</a>. Important Bird Areas (IBAs) were also identified by Bird Studies Canada and Nature Canada, in partnership with BirdLife International.  Critical Habitat meets Canada's Species at Risk (SARA) requirements. See data layers for more information.  Data sources: up to 2009.
      </p>
    {{/hasPMZs}}
    {{#hasSMZs}}
      <p>
        To reduce potential conflicts between human uses and marine species, consider these Important Marine Areas for marine mammals, fish and birds.  These areas do not include all of the foraging and breeding locations for marine species in the MaPP study area. 
      </p>
      <p>
        Important Areas were identified during the process of establishing Ecologically and Biologically Significant Areas (EBSAs) by the <a href="http://pncima.org/site/atlas.html" target="_blank"> Pacific North Coast Integrated Management Area (PNCIMA)</a>. Important Bird Areas (IBAs) were also identified by Bird Studies Canada and Nature Canada, in partnership with BirdLife International.  Critical Habitat meets Canada's Species at Risk (SARA) requirements. Potential critical is insufficient information to meet SARA requirements. See the PNCIMA atlas for more information. See data layers for more information.  Data sources: up to 2009.
          </p>
    {{/hasSMZs}}
        <p>* = Overlap (%) calculates the proportion of the sub-regional total of the habitat that falls within the boundary of this zone</p>
    </p>
</div>
<div class="reportSection">
  <h4>Marxan Analysis</h4>
  <select class="chosen" width="400px">
    {{#marxanAnalyses}}
    <option value="{{.}}">{{.}}</option>
    {{/marxanAnalyses}}
  </select>
  <p class="scenarioResults"></p>
  <div class="viz"></div>
  <p class="scenarioDescription"></p>
  <p>
    MaPP collaborated with the <a href="http://bcmca.ca/" target="_blank">BC Marine Conservation Analysis (BCMCA)</a> to use Marxan to identify marine areas of high conservation value based on spatial datasets of ecological information (features). These Marxan scenarios can be used to inform the location or siting of PMZs. <a href="http://www.uq.edu.au/marxan/" target="_blank">Marxan</a> is a decision support tool developed by the University of Queensland to provide solutions which capture a specified amount (target) of individual features for the least cost. The cost layer used for these Marxan runs was solely based on area. Based on relatively simple mathematical algorithms and equations, Marxan searches millions of potential solutions to find the best balance between costs and benefits. These MaPP Marxan solutions minimize the overall area subject to the constraint of meeting specified “targets” for all ecological features.
  </p>
  <p>
    MaPP consulted the MaPP Science Advisory Committee (SAC) for advice on scenarios and target selection. The SAC supported the decision to use the percentage target categories established by the BCMCA project team in 2006. Please see this <a href="https://dl.dropboxusercontent.com/u/1764986/BCMCA-Marxan for MaPP-Report on initial scenarios_27Feb2013.pdf" target="_blank">2013 BCMCA report</a> for more information about the MaPP-BCMCA project and Marxan scenarios, and consult the <a href="http://bcmca.ca" target="_blank">BCMCA Atlas</a> for detailed information about targets, species, and habitats.
  </p>
</div>
<div class="reportSection tableContainer">
  <h4>Adjacent Breeding Sites for Birds and Mammals</h4>
  <table  data-paging="10" data-no-rows="Is not adjacent to breeding sites for birds and mammals">
    <thead>
      <tr>
        <th>Species</th>
        <th>Number of Breeding Areas or Nesting Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#nonFishBreedingAreas}}
      <tr>
        <td>{{SPECIES}}</td>
        <td>{{COUNT}}</td>
      </tr>
      {{/nonFishBreedingAreas}}
    </tbody>
      <tfoot>
      <tr>
        <td colspan="2" class="paragraph">
          <p>
            When selecting sites, consider proximity to breeding areas or nesting sites for birds and mammals in effort to minimize disturbance and protect adjacent foraging area. 
          </p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="reportSection tableContainer">
  <h4>Habitat: Overlap with Marine Classifications and Oceanographic Regions</h4>
  {{#hasMarineEcosections}}
    <table  data-paging="10" data-no-rows="Does not overlap any Marine Ecosections">
      <thead>
        <tr>
          <th width="250px"><strong>Marine Ecosection</strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#marineEcosections}}
        <tr>
          <td>{{HAB_NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/marineEcosections}}
      </tbody>
    </table>
  {{/hasMarineEcosections}}
  {{#hasHighTideAreas}}
    </br>
    <table  data-no-rows="Does not overlap any High Tide Areas">
      <thead>
        <tr>
          <th width="250px"><strong>High Tidal Current Area</strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#highTideAreas}}
        <tr>
          <td>{{HAB_NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/highTideAreas}}
      </tbody>
    </table>
  {{/hasHighTideAreas}}
  {{#hasOceanographicRegions}}
    </br>
    <table  data-paging="10" data-no-rows="Does not overlap any Oceanographic Regions">
      <thead>
        <tr>
          <th width="250px"><strong>Oceanographic Region</strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#oceanographicRegions}}
        <tr>
          <td>{{HAB_NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/oceanographicRegions}}
      </tbody>
    </table
  {{/hasOceanographicRegions}}
  {{#hasBenthicClasses}}
    </br>
    <table  data-paging="10" data-no-rows="Does not overlap any Benthic Classes">
      <thead>
        <tr>
          <th width="250px"><strong>Benthic Class</strong></th>
          <th>Overlap (km²)</th>
          <th>Overlap (%)<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        {{#benthicClasses}}
        <tr>
          <td>{{HAB_NAME}}</td>
          <td>{{CLPD_AREA}}</td>
          <td>{{PERC_AREA}}</td>
        </tr>
        {{/benthicClasses}}
      </tbody>
    </table>
  {{/hasBenthicClasses}}
  <p>
    {{#hasPMZs}}
      <p>
        In Protection Management Zones, representation of habitat types is often one criteria for siting in a network.  Data in this report includes Ecosections, oceanographic regions, benthic classes and areas of high tidal current. 
      </p>
    {{/hasPMZs}}
    {{#hasSMZs}}
      <p>
        The potential impact of activities on marine habitats is an important consideration when identifying locations for Special Management Zones.  
        This report calculates the overlap of the proposed SMZ(s) with Ecosections, oceanographic regions, benthic classes and areas of high tidal current.
      </p>
    {{/hasSMZs}}
    <p>* = Overlap (%) calculates the proportion of the sub-regional total of the classification/region type that fall within the boundary of this zone</p>
  </p>
</div>
