<div class="reportSection tableContainer">
  <h4>Overlap with Existing Protected Areas <a href="#" data-toggle-node="520d4c2a674659cb7b35d575" data-visible="false">show layer</a></h4>
  <table data-paging="10" data-no-rows="Does not overlap any Existing Protected Areas. MaPP recommends spatial locations for marine protection that include either or both ecological and cultural values, including areas that contribute to a Marine Protected Area network for the Northern Shelf Bioregion.">
    <thead>
      <tr>
        <th>Protected Area</th>
        <th>Overlap (km²)</th>
        <th>Overlap (%)<sup>*</sup></th>
      </tr>
    </thead>
    <tbody>
      {{^hasOverlapWithExistingMPAs}}
        <tr>
          <td colspan="3" style="text-align:center;">
            <p>No overlap with existing protected areas</p>
          </td>
        </tr>
      {{/hasOverlapWithExistingMPAs}}
      {{#existingMPAs}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/existingMPAs}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          MaPP recommends spatial locations for marine protection that include either or both ecological and cultural values, including areas that contribute to a Marine Protected Area network for the Northern Shelf Bioregion. 
          <p>* = Overlap (%) calculates the proportion of the sub-regional total of the layer/feature that falls within the boundary of the zone/collection</p> 
        </td>
      </tr>
    </tfoot>
  </table>
  <!-- <a href="#" data-toggle-node="51f5545c08dc4f5f2d216146" data-visible="false">show habitats layer</a> -->
</div>
{{#adjacentProtectedArea}}
<div class="reportSection">
  <h4>Adjacent to Terrestrial Protected Areas</h4>
  <p class="large green-check">
    This zone is adjacent to a <strong>Terrestrial Protected Area</strong>.
  </p>
  <p>
    Build on past and existing zoning efforts that are consistent with an ecosystem-based management approach.  Wherever possible, do not duplicate existing zoning efforts and consider existing terrestrial zoning for adjacent marine zoning to achieve zoning objectives.
  </p>
</div>
{{/adjacentProtectedArea}}

<div class="reportSection tableContainer">
  <h4>Overlap with Fisheries Closures</h4>
  <table data-paging="10" data-no-rows="Does not overlap any Fisheries Closures. Fisheries closures may need to be considered to reduce potential conflicts between uses and activities. Federal Rockfish Conservation Areas and Federal Sponge Reef Reserve are analysed for overlap with {{#array}}zones within this proposal{{/array}}{{^array}}this zone{{/array}}. ">
    <thead>
      <tr>
        <th>Tenures</th>
        <th>Overlap (km²)</th>
        <th>Overlap (%)<sup>*</sup></th>
      </tr>
    </thead>
    <tbody>
      {{^hasClosures}}
          <tr>
          <td colspan="3" style="text-align:center;">
            <p>No overlap with fisheries closures</p>
          </td>
        </tr>
      {{/hasClosures}}
      {{#closures}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/closures}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          Fisheries closures may need to be considered to reduce potential conflicts between uses and activities. Federal Rockfish Conservation Areas and Federal Sponge Reef Reserve are analysed for overlap with {{#array}}zones within this proposal{{/array}}{{^array}}this zone{{/array}}. 
        </td>
      </tr>
    </tfoot>
  </table>
  <!-- <a href="#" data-toggle-node="51f5545c08dc4f5f2d216146" data-visible="false">show habitats layer</a> -->
</div>

<div class="reportSection tableContainer">
  <h4>Overlap with Provincial Tenures <a href="#" data-toggle-node="51f2f5cba72ec0681606208e" data-visible="false">show layer</a></h4>
  <table data-paging="10" data-no-rows="Does not overlap any Provincial Tenures.">
    <thead>
      <tr>
        <th>Tenures</th>
        <th>Overlap (km²)</th>
        <th>Overlap (%)<sup>*</sup></th>
      </tr>
    </thead>
    <tbody>
      {{^hasProvincialTenures}}
        <tr>
          <td colspan="3" style="text-align:center;">
            <p>No overlap with Provincial Tenures</p>
          </td>
        </tr>
      {{/hasProvincialTenures}}
      {{#provincial}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/provincial}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          To avoid, minimise and/or reduce potential conflicts between existing tenured uses and activities and marine protection, examine the overlap with provincial crown tenures from the BC Provincial tenures database. Data source: Provincial Tenures. Updated: Dec 1013
          <p>* = Overlap (%) calculates the proportion of the sub-regional total of the layer/feature that falls within the boundary of the zone/collection</p>
        </td>
      </tr>
    </tfoot>
  </table>
  <!-- <a href="#" data-toggle-node="51f5545c08dc4f5f2d216146" data-visible="false">show habitats layer</a> -->
</div>