<div class="reportSection {{#overlap}}emphasis{{/overlap}}">
  <h4>Overlap with Historical or Archeological Sites</h4>
  <p>
    {{#overlap}}
    This zone overlaps with sensitive historical or archeological areas.
    {{/overlap}}
    {{^overlap}}
    This zone </strong>does not</strong> overlap with any sensitive historical or archeological areas.
    {{/overlap}}
  </p>
</div>
