<div class="reportSection tableContainer">
  <h4>Overlap With Commercial Fisheries <a href="#" data-toggle-node="51f308a208dc4f5f2d015757" data-visible="false">show layers</a></h4>
  <table  data-paging="10" data-no-rows="Does not overlap any commercial fisheries." >
    <thead>
      <tr>
        <th>Commercial Fishery</th>
        <th>Data Available for Years</th>
      </tr>
    </thead>
    <tbody>
      {{#fisheries}}
      <tr>
        <td>{{FISH_NAME}}</td>
        <td>{{START_YR}} - {{END_YR}}</td>
      </tr>
      {{/fisheries}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          Existing marine activities should be considered when identifying areas for protection or special management.  This report summarizes the commercial fisheries which occur within the boundaries of the zone/collection based on the most recent available spatial data.  The spatial data is in the form of multi-year amalgamated 4km x 4km or 10km x 10km catch/effort grid data or, in the case of the salmon fishery, salmon catch estimate areas. The years which are represented by the data are noted following the name of the commercial fishery. NOTE: Not all catch and effort is represented by the spatial data.  Due to confidentiality restrictions a minimum of three vessels must be reporting within a given grid cell for it to be included.
        </td>
      </tr>
    </tfoot>
  </table>
</div>
{{^pmz}}
{{#isRenewableEnergy}}
<div class="reportSection">
  <h4>Distance to Transmission Lines <a href="#" data-toggle-node="51f6ad677bbb9b2457020f52" data-visible="false">show layer</a></h4>
  <p class="large">
    This zone is <strong>{{transmissionLines}}</strong> km from the nearest <strong>transmission lines</strong>. This horizontal, straight line distance might be helpful in calculating the possible economic costs for renewable energy development in this zone. 
  </p>
</div>
{{/isRenewableEnergy}}
<div class="reportSection tableContainer">
  <h4>Distance to Infrastructure</h4>
  <table>
    <thead>
      <tr>
        <th>Infrastructure</th>
        <th>Distance (km)</th>
      </tr>
    </thead>
    <tbody>
      {{#infrastructure}}
      <tr>
        <td>{{Name}}</td>
        <td>{{DistInKM}}</td>
      </tr>
      {{/infrastructure}}
    </tbody>
    <tfoot>
      <tr>
      <td colspan="2" class="paragraph">
      The horizontal distance to ferries, ports, harbours, fuel docks, and other marine and coastal infrastructure might be helpful for planning marine uses and activities that are supported in this zone. A distance of 0.0 km indicates that the infrastructure feature is adjacent to or within the boundary of the zone.
      </td>
      </tr>
    </tfoot>
  </table>
</div>
{{#isTourism}}
<div class="reportSection">
  <h4>Distance to Nearest Marine Protected Area</h4>
  <p class="large">
    This zone is <strong>{{distToMPAs}} km</strong> from the <strong>{{nearestMPA}}</strong>, the nearest protected area. Protected areas may have higher species diversity and may be
    important for siting commercial tourism zones. Data sources: Jan 2014
  </p>
</div>
{{/isTourism}}
{{/pmz}}
