{{#pmz}}
<div class="reportSection tableContainer">
  <h4>Habitat Representation <!-- <a href="#" data-toggle-node="51f302d508dc4f5f2d00996a" data-visible="false">show layer</a> --></h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Habitat</th>
        <th>Protected Area (km²)</th>
      </tr>
    </thead>
    <tbody>
      {{#habitats}}
      <tr><td>{{HAB_NAME}}</td><td>{{CLPD_AREA}}</td></tr>
      {{/habitats}}
    </tbody>
  </table>
</div>
{{/pmz}}

<div class="reportSection tableContainer">
  <h4>Overlap with Existing Protected Areas <a href="#" data-toggle-node="520d4c2a674659cb7b35d575" data-visible="false">show layer</a></h4>
  <table data-paging="10" data-no-rows="Does not overlap any Existing Protected Areas">
    <thead>
      <tr>
        <th>Protected Area</th>
        <th>Overlap (km²)</th>
        <th>Overlap %</th>
      </tr>
    </thead>
    <tbody>
      {{#existingMPAs}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/existingMPAs}}
    </tbody>
  </table>
  <!-- <a href="#" data-toggle-node="51f5545c08dc4f5f2d216146" data-visible="false">show habitats layer</a> -->
</div>

<div class="reportSection tableContainer">
  <h4>Overlap with Important Marine Areas</h4>
  <table  data-paging="10" data-no-rows="Does not overlap any Important Marine Areas">
    <thead>
      <tr>
        <th>Important Area</th>
        <th>Overlap (km²)</th>
        <th>Overlap %</th>
      </tr>
    </thead>
    <tbody>
      {{#importantAreas}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/importantAreas}}
    </tbody>
  </table>
  <!-- <a href="#" data-toggle-node="51f5545c08dc4f5f2d216146" data-visible="false">show habitats layer</a> -->
</div>


<div class="reportSection">
  <h4>Marxan Analysis</h4>
  <select class="chosen" width="400px">
    {{#marxanAnalyses}}
    <option value="{{.}}">{{.}}</option>
    {{/marxanAnalyses}}
  </select>
  <p class="scenarioResults"></p>
  <div class="viz"></div>
  <p class="scenarioDescription"></p>
</div>
