<div class="reportSection tableContainer">
  <h4>Habitat Representation <!-- <a href="#" data-toggle-node="51f302d508dc4f5f2d00996a" data-visible="false">show layer</a> --></h4>
  <table data-paging="10">
    <thead>
      <tr>
        <th>Habitat</th>
        <th>Protected Area (km²)</th>
      </tr>
    </thead>
    <tbody>
      {{#habitats}}
      <tr><td>{{HAB_NAME}}</td><td>{{CLPD_AREA}}</td></tr>
      {{/habitats}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          Habitat data for benthic ecosystems, pelagic areas, and oceanographic processes is used to inform siting of this zone. Included here are biogenic habitats as well as community-forming species, such as eelgrass and kelp.
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="reportSection tableContainer">
  <h4>Overlap with Existing Protected Areas <a href="#" data-toggle-node="520d4c2a674659cb7b35d575" data-visible="false">show layer</a></h4>
  <table data-paging="10" data-no-rows="Does not overlap any Existing Protected Areas. MaPP recommends spatial locations for marine protection that include either or both ecological and cultural values, including areas that contribute to a Marine Protected Area network for the Northern Shelf Bioregion.">
    <thead>
      <tr>
        <th>Protected Area</th>
        <th>Overlap (km²)</th>
        <th>Overlap %</th>
      </tr>
    </thead>
    <tbody>
      {{#existingMPAs}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/existingMPAs}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          MaPP recommends spatial locations for marine protection that include either or both ecological and cultural values, including areas that contribute to a Marine Protected Area network for the Northern Shelf Bioregion.  
        </td>
      </tr>
    </tfoot>
  </table>
  <!-- <a href="#" data-toggle-node="51f5545c08dc4f5f2d216146" data-visible="false">show habitats layer</a> -->
</div>

<div class="reportSection tableContainer">
  <h4>Overlap with Important Marine Areas</h4>
  <table  data-paging="10" data-no-rows="Does not overlap any Important Marine Areas">
    <thead>
      <tr>
        <th>Important Area</th>
        <th>Overlap (km²)</th>
        <th>Overlap %</th>
      </tr>
    </thead>
    <tbody>
      {{#importantAreas}}
      <tr>
        <td>{{NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/importantAreas}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="paragraph">
          To reduce potential conflicts with these marine species, {{#pmz}}Protection Management Zones{{/pmz}}{{#smz}}Special Management Zones{{/smz}} may consider these areas. Important Areas were identified during the process of establishing Ecologically and Biologically Significant Areas (EBSAs) by the Pacific North Coast Integrated Management Area (PNCIMA). Important Bird Areas (IBAs) were identified by Bird Studies Canada and Nature Canada.  Critical Habitat meets Canada's Species at Risk Requirements. Potential critical is insufficient information to meet SARA requirements. See the <a href="http://pncima.org/site/atlas.html" target="_blank">PNCIMA atlas</a> for more information 
        </td>
      </tr>
    </tfoot>

  </table>
  <!-- <a href="#" data-toggle-node="51f5545c08dc4f5f2d216146" data-visible="false">show habitats layer</a> -->
</div>


<div class="reportSection">
  <h4>Marxan Analysis</h4>
  <select class="chosen" width="400px">
    {{#marxanAnalyses}}
    <option value="{{.}}">{{.}}</option>
    {{/marxanAnalyses}}
  </select>
  <p class="scenarioResults"></p>
  <div class="viz"></div>
  <p class="scenarioDescription"></p>
  <p>
    MaPP collaborated with the <a href="http://bcmca.ca/" target="_blank">BC Marine Conservation Analysis (BCMCA)</a> to identify marine areas of high conservation value based on spatial datasets of ecological information. These Marxan scenarios can be used to inform the location or siting of MaPP zones. <a href="http://www.uq.edu.au/marxan/" target="_blank">Marxan</a> is a decision support tool developed by the University of Queensland to provide solutions to the “minimum set problem” - capturing a specified amount (target) of individual features for the least cost. Based on relatively simple mathematical algorithms and equations, Marxan searches millions of potential solutions to find the best balance between costs and benefits. In short, Marxan solutions minimize the overall cost subject to the constraint of meeting specified “targets” for all features.
  </p>
  <p>
    MaPP consulted the MaPP Science Advisory Committee (SAC) for advice on scenarios and target selection.  The SAC supported the decision to use the percentage target categories established by the BCMCA project team in 2006. Please see this <a href="https://dl.dropboxusercontent.com/u/1764986/BCMCA-Marxan for MaPP-Report on initial scenarios_27Feb2013.pdf" target="_blank">2013 BCMCA report</a> for more information about the MaPP-BCMCA project and Marxan scenarios, and consult the <a href="http://bcmca.ca" target="_blank">BCMCA Atlas</a> for detailed information about targets, species, and habitats.
  </p>
</div>

<div class="reportSection tableContainer">
  <h4>Overlap with Non Fish Breeding Areas</h4>
  <table  data-paging="10" data-no-rows="Does not overlap any Non Fish Breeding Areas">
    <thead>
      <tr>
        <th>Species</th>
        <th>Number of Breeding Areas or Nesting Sites</th>
      </tr>
    </thead>
    <tbody>
      {{#nonFishBreedingAreas}}
      <tr>
        <td>{{SPECIES}}</td>
        <td>{{COUNT}}</td>
      </tr>
      {{/nonFishBreedingAreas}}
    </tbody>
  </table>
</div>
<div class="reportSection tableContainer">
  <h4>Overlap with Marine Classifications</h4>
  <table  data-paging="10" data-no-rows="Does not overlap any Marine Classifications">
    <thead>
      <tr>
        <th>Classification</th>
        <th>Overlap (km²)</th>
        <th>Overlap %</th>
      </tr>
    </thead>
    <tbody>
      {{#marineClassifications}}
      <tr>
        <td>{{HAB_NAME}}</td>
        <td>{{CLPD_AREA}}</td>
        <td>{{PERC_AREA}}</td>
      </tr>
      {{/marineClassifications}}
    </tbody>
  </table>
</div>
