<div class="reportSection">
  <h4>Size</h4>
  <p class="large">
    This zone is <strong>{{size}} square kilometers</strong>, which represents <strong>{{percent}}%</strong> of the {{sc_name}}. Size is used to quantify draft spatial zones and provide percent coverage. 
  </p>
</div>


{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}} Attributes</h4>
    {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}
